################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/otus-mssql-uzikovae/v17/.wsuo
/.vs/otus-mssql-uzikovae/FileContentIndex
/.vs/slnx.sqlite
/.gitignore
/HW19 (Partition)/yeardata.ndf
/HW19 (Partition)/orders.txt
